modules = ["nodejs-20:v8-20230920-bd784b9", "python-3.11"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[workflows]
runButton = "Run backend"

[[workflows.workflow]]
name = "Run backend"
mode = "sequential"
author = 3687642

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "source api/.venv/bin/activate && cd api && uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"

[[workflows.workflow]]
name = "Run frontend"
mode = "sequential"
author = 3687642

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd dashboard && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd dashboard && npm start"

[deployment]
build = ["sh", "-c", "cd dashboard && npm run build"]
deploymentTarget = "cloudrun"
