
modules = ["nodejs-20:v8-20230920-bd784b9", "python-3.12:v25-20230920-d4ad2e4"]
run = "cd api && printf '\033[0;32m[API]\033[0m Installing dependencies...\n' && uv pip install -r pyproject.toml && printf '\033[0;32m[API]\033[0m Starting server...\n' && python3 -m uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload & cd ../dashboard && printf '\033[0;34m[DASHBOARD]\033[0m Installing dependencies...\n' && npm install && printf '\033[0;34m[DASHBOARD]\033[0m Starting server...\n' && npm start"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
